<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org" >
<head th:fragment="baseHeader(title)">
  <meta charset="UTF-8">
  <title th:replace="${title}"></title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

<div th:fragment="navbar">
  <div class="container-fluid navbar-grid">
    <!-- Logo and Brand Section -->
    <div class="brand-container">
      <a href="/" class="navbar-brand">
        <img src="/Food_pics/Recipeasy_logo.webp" alt="Recipe Logo" class="logo-img">
      </a>
      <span class="logo-text">Recipeasy</span>
    </div>

    <div class="middle-container">
      <a href="/" class="navbar-brand">Cooking has never been this easy!</a>
    </div>

    <!-- Button Section -->
    <div class="button-container">
      <a th:href="@{/user/profile}" class="profile-icon m-3">
        <span class="mdi mdi-account-circle"></span>
      </a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="btn btn-outline-primary btn-md my-2" th:href="@{/user/register}">Make an account</a></li>
        <li><a class="btn btn-outline-primary btn-md my-2" th:href="@{/login}" sec:authorize="isAnonymous()">Login</a></li>
        <li><a class="btn btn-outline-danger btn-md my-2" th:href="@{/logout}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">Logout</a></li>
        <li><a class="btn btn-outline-success btn-md px-3 fw-semibold my-2"
               data-bs-toggle="modal"
               data-bs-target="#newRecipe"
               sec:authorize="hasRole('ROLE_USER')">Add recipe</a></li>
      </ul>

      </div>

    </div>
  </div>
</div>


<div th:replace="~{fragments/recipeAddModal :: recipeFormModal(${newRecipe}, ${#fields})}"></div>

<div th:fragment="footer">
  <footer class="footer">
    <p class="text-muted">&copy; 2024 Recipeasy</p>
  </footer>
</div>

<div th:fragment="bottomScripts">
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>


</body>
</html>