<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<body>

<div th:fragment="recipeCards(allRecipes)" class="row row-cols-1 row-cols-md-6 g-4">
    <div th:each="recipe : ${allRecipes}" th:insert="~{:: recipeCard(${recipe})}"></div>
</div>

<div th:fragment="recipeCard(recipe)" class="col">
    <div>
        <a th:href="@{/recipe/detail/{recipeName}(recipeName = ${recipe.name})}">
            <img style="width:150px; border-radius: 15px" th:src="${recipe.imageUrl}" th:alt="${recipe.displayName}"/>

            <h3 class="card-title" th:text="${recipe.displayName}"></h3>
        </a>
    </div>
    <div>
        <p class="bi bi-stopwatch" th:text="|Cooking time ${recipe.cookTime} minutes|"></p>
    </div>
    <hr style="width:200px" align="left">
</div>

</body>
</html>