<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>

<div th:fragment="newRecipeForm(formRecipe, #fields)">
  <form class="row g-3" th:action="@{/recipe/add}" method="post" th:object="${formRecipe}">
    <div class="row g-3 align-items-center">
      <div class="col-12">
        <label for="title" class="col-form-label">Give your recipe a name</label>
        <input type="text" id="title" class="form-control" aria-describedby="titleHelpInLine" th:field="*{title}">
      </div>
      <div class="col-12">
        <span id="nameHelpInLine" class="form-text" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
      </div>
    </div>
    <div class="mb-3">
      <label for="recipeIngredients" class="form-label">
        Add multiple ingredients by pressing Ctrl (or Cmd on Mac) and clicking the ingredients you want to add.<br>
        The ingredients are listed alphabetically. Click a random ingredient and type the first letter of your ingredient to quickly skip through the list.
      </label>
      <select class="form-control" id="recipeIngredients" size= 5 th:field="*{ingredients}" multiple>
        <option th:each="ingredientOption : ${allIngredients}"
                th:text="${ingredientOption.name}"
                th:value="${ingredientOption.id}"></option>
      </select>
      <a th:href="@{/ingredient/new}" class="btn-primary">Add a new ingredient</a>
    </div>
    <div class="mb-3">
      <label for="recipeCookingSteps" class="form-label">Cooking Steps</label>
      <textarea class="form-control" id="recipeCookingSteps" th:field="*{cookingSteps}" required></textarea>
    </div>
    <div class="mb-3">
      <label for="prepTime" class="form-label">Preparation Time (minutes)</label>
      <input type="text" class="form-control" id="prepTime" th:field="*{prepTime}">
    </div>
    <div class="mb-3">
      <label for="prepTime" class="form-label">Cooking Time (minutes)</label>
      <input type="text" class="form-control" id="cookTime" th:field="*{cookTime}">
    </div>
    <div class="mb-3">
      <label for="recipeImage" class="form-label">
        Optional: you can add an image to the recipe by pasting a link to the image</label>
      <input type="text" class="form-control" id="recipeImage" th:field="*{imageUrl}">
    </div>

    <button type="submit" class="btn bi-plus-square btn-custom mb-3"> Save recipe</button>
    <button type="button" class="btn btn-custom-delete bi-file-excel" data-bs-dismiss="modal" aria-label="Cancel"> Cancel</button>

  </form>
</div>

<div th:fragment="recipeFormModal(formRecipe, #fields)" class="modal fade" id="newRecipe" tabindex="-1"
     aria-labelledby="newRecipeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <h1 class="modal-title text-center" id="editRecipeModalLabel">Fill in the details</h1>
      <div class="modal-body">
        <div class="container-fluid">
          <div th:replace="~{:: newRecipeForm(${formRecipe}, ${#fields})}"></div>
        </div>
      </div>
    </div>
  </div>

  <script th:unless="${formModalHidden}">
    new bootstrap.Modal(document.getElementById('newRecipe'), {}).toggle()
  </script>
</div>

</body>
</html>